@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html, body {
    min-height: 100vh;
    font-family: 'Sen', sans-serif;
}

body {
    font-size: 62.5%;
}

// ========= HEADER
.header {
    width: 100%;
    height: 60vh;
    background-color: #8B9E70;
    text-align: center;
    position: relative;
}

.header h1 {
    color: white;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 90%;
    margin: 1rem 0 2rem 0;
}

.header p {
    color: white;
    font-size: 0.9rem;
    line-height: 150%;
}

.furniture-images {
    position: relative;
    top: 1rem;
}

.furniture-images .frame {
    width: 35%;
}

.furniture-images .sofa-lamp {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    top: 0;
}

.furniture-images .sofa-lamp .sofa {
    width: 80%;
    filter: saturate(50%);
}

.furniture-images .sofa-lamp .lamp {
    width: 10%;
    position: relative;
    bottom: 0.7rem;
}

// ========= NAVBAR
.navbar {
    width: 100%;
    font-size: 1rem;
    padding: 2rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.navbar .logo {
    color: #fff;
    letter-spacing: 1px;
}

.navbar .menu {
    position: relative;

    width: 2.6rem;
    height: 2.6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    cursor: pointer;

    &:hover > .bar {
        width: 100%;
    }

    &:hover > .bar::after {
        width: 100%;
    }
}

.navbar .menu .bar::before {    // Top Bar
    content: "";
    background-color: #fff;
    height: 5px;
    width: 100%;
    border-radius: 1rem;
    top: 10%;
    right: 0;
    position: absolute;
}

.navbar .menu .bar {    // Middle Bar
    background-color: #fff;
    height: 5px;
    width: 70%;
    border-radius: 1rem;
    align-self: end;

    transition: width 300ms ease;
}

.navbar .menu .bar::after {    // bottom Bar
    content: "";
    background-color: #fff;
    height: 5px;
    width: 30%;
    border-radius: 1rem;
    bottom: 10%;
    right: 0;
    position: absolute;
    transition: width 300ms ease;
}