@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html, body {
  min-height: 100vh;
  font-family: 'Sen', sans-serif;
}

body {
  font-size: 62.5%;
}

.header {
  width: 100%;
  height: 60vh;
  background-color: #8B9E70;
  text-align: center;
  position: relative;
}

.header h1 {
  color: white;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 90%;
  margin: 1rem 0 2rem 0;
}

.header p {
  color: white;
  font-size: 0.9rem;
  line-height: 150%;
}

.furniture-images {
  position: relative;
  top: 1rem;
}

.furniture-images .frame {
  width: 35%;
}

.furniture-images .sofa-lamp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: absolute;
  top: 0;
}

.furniture-images .sofa-lamp .sofa {
  width: 80%;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}

.furniture-images .sofa-lamp .lamp {
  width: 10%;
  position: relative;
  bottom: 0.7rem;
}

.navbar {
  width: 100%;
  font-size: 1rem;
  padding: 2rem 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar .logo {
  color: #fff;
  letter-spacing: 1px;
}

.navbar .menu {
  position: relative;
  width: 2.6rem;
  height: 2.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.navbar .menu:hover > .bar {
  width: 100%;
}

.navbar .menu:hover > .bar::after {
  width: 100%;
}

.navbar .menu .bar::before {
  content: "";
  background-color: #fff;
  height: 5px;
  width: 100%;
  border-radius: 1rem;
  top: 10%;
  right: 0;
  position: absolute;
}

.navbar .menu .bar {
  background-color: #fff;
  height: 5px;
  width: 70%;
  border-radius: 1rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-transition: width 300ms ease;
  transition: width 300ms ease;
}

.navbar .menu .bar::after {
  content: "";
  background-color: #fff;
  height: 5px;
  width: 30%;
  border-radius: 1rem;
  bottom: 10%;
  right: 0;
  position: absolute;
  -webkit-transition: width 300ms ease;
  transition: width 300ms ease;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30%;
}

.button {
  background-color: #313415;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 2rem;
  text-align: center;
}

.buy.button {
  width: 86%;
  height: 3rem;
  color: white;
  margin-bottom: 1.1rem;
}

.explore.button {
  width: 86%;
  height: 3rem;
  background-color: #fff;
  border: 2px solid #818181;
  color: #818181;
}

.article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 2.4rem;
  padding: 0 2rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.article h2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 100%;
}

.article p {
  font-size: 1rem;
  margin-top: 2rem;
  color: #818181;
}

.scroll-down {
  position: absolute;
  background: #8A9973;
  width: 3rem;
  height: 3rem;
  bottom: 3%;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.scroll-down .bar {
  width: 40%;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  left: 20%;
  bottom: 40%;
  border-radius: 1rem;
  -webkit-animation: scrollDown 1s ease infinite;
          animation: scrollDown 1s ease infinite;
}

.scroll-down .bar:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(0.5rem, 0.5rem);
          transform: rotate(-45deg) translate(0.5rem, 0.5rem);
}

@-webkit-keyframes scrollDown {
  0% {
    bottom: 40%;
  }
  34% {
    bottom: 45%;
  }
  76% {
    bottom: 35%;
  }
  100% {
    bottom: 40%;
  }
}

@keyframes scrollDown {
  0% {
    bottom: 40%;
  }
  34% {
    bottom: 45%;
  }
  76% {
    bottom: 35%;
  }
  100% {
    bottom: 40%;
  }
}
/*# sourceMappingURL=style.css.map */